ol,ul{
    display: inline-block;
}

ul{
    list-style-type: square;
}

li::marker{
    content:"*" ;
}

#AlluArjunFamily li::marker {
    content:"-->" ;
}


dt{
    color: red;
}